<section>

    <h3>About Myself</h3>

    <div class="face-lockup">

        <div class="face-img"></div>

        <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
        <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
        <div class="icon-browser">{% include icons/icon-browser.html %}</div>
        <div class="icon-video">{% include icons/icon-video.html %}</div>

    </div>

    <div class="blurb">
        <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong> A alias, aperiam dignissimos
            dolore itaque nam nisi
            placeat quasi qui quis recusandae, reprehenderit similique! Consequatur dolorem fugiat, porro recusandae
            repellendus tempore.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci beatae debitis eligendi error facere
            fugiat id iusto magnam magni nesciunt, nihil nobis obcaecati officiis quas, similique, sint veritatis vero
            voluptatem!
        </p>
    </div>

    <div class="skill-lockup">
        <div class="skill-unit">
            <div class="skill-label">Comunication</div>
            <div class="skill-icons skill-10">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Organization</div>
            <div class="skill-icons skill-6">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Learning</div>
            <div class="skill-icons skill-10">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Teaching</div>
            <div class="skill-icons skill-6">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Planning</div>
            <div class="skill-icons skill-9">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">UX Desine</div>
            <div class="skill-icons skill-2">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Programm</div>
            <div class="skill-icons skill-3">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Loving</div>
            <div class="skill-icons skill-8">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>


    </div>


</section>>