<section class="section-contact">
    <h3 id="contact">Contact</h3>

    <div class="social-links">
        <a href="https://vk.com/shashko_dj" class="icon-vk">{% include icons/social/icon-vk.html %}</a>
        <a href="https://twitter.com/shashko_darya" class="icon-twitter">{% include icons/social/icon-twitter.html %}</a>
        <!--<a href="" class="icon-skype">{% include icons/social/icon-skype.html %}</a>-->
        <a href="" class="icon-linkedin">{% include icons/social/icon-linkedin.html %}</a>
    </div>

    <hr class="bar">
    <a href="mailto:shashko.darya@gmail.com" class="biglink">{{ site.data.portfolio.email }}</a>

</section>