@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--- colors --- */
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out; }

.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader:after {
  left: 3.5em; }

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0; }

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }
body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Fira Sans", sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

a {
  color: #c99065;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #e3c6b1; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

h3 {
  color: #e1c184;
  text-align: center;
  padding: 100px 0 30px; }

@media screen and (max-width) {
  h3 {
    padding: 50px 0 50px; } }
.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

h3, header nav a, header .kicker, footer .lockup .content-wrap a {
  font-size: 14px;
  font-weight: 700;
  font-text-transform: uppercase; }

.name-lockup {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.fork-tag {
  position: absolute;
  top: 10px;
  right: -10px;
  background: #0074D9;
  color: white;
  padding: 2px 6px;
  transition: all 0.3s ease-in-out;
  transform-origin: top right; }
  .fork-tag:hover {
    color: white;
    animation: wiggle 0.4s linear 1; }

@keyframes wiggle {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(8deg); }
  50% {
    transform: rotate(-8deg); }
  80% {
    transform: rotate(8deg); }
  100% {
    transform: rotate(0deg); } }
.flex-video {
  height: 0;
  margin-bottom: 0.88889rem;
  overflow: hidden;
  padding-bottom: 56%;
  position: relative; }

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0; }

header {
  background: url(../img/hero-bg.jpg) center center;
  background-size: cover;
  padding-bottom: 50px; }
  header .logo {
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px 0 0 30px; }
  header nav {
    float: right;
    padding: 30px 30px 0 0; }
    header nav a {
      display: inline-block;
      margin-left: 20px;
      color: rgba(0, 0, 0, 0.7); }
      header nav a:hover {
        color: black; }
  header h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    clear: both;
    padding-top: 100px; }
    header h1 span {
      display: inline-block;
      padding: 0.2em 0.5em;
      border: 10px solid white; }
  header .kicker {
    text-align: center;
    letter-spacing: 0.05em;
    color: white;
    line-height: 1; }

@media (max-width: 640px) {
  header .logo {
    float: none;
    margin: 0 auto; }
  header nav {
    float: none;
    text-align: center;
    padding-top: 70px; }
  header h1 {
    padding-top: 0; } }
footer {
  background: url(../img/hero-bg.jpg) left center;
  background-size: cover; }
  footer .lockup {
    padding: 50px 30px; }
    footer .lockup::after {
      clear: both;
      content: "";
      display: table; }
    footer .lockup .logo {
      width: 50px;
      height: 50px;
      float: left;
      margin-right: 30px; }
      footer .lockup .logo svg {
        height: 50px; }
      footer .lockup .logo path {
        fill: rgba(0, 0, 0, 0.3); }
    footer .lockup .content-wrap {
      float: left; }
      footer .lockup .content-wrap .copyright {
        margin: 0;
        text-transform: uppercase;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.4); }
      footer .lockup .content-wrap a {
        color: rgba(0, 0, 0, 0.5);
        display: inline-block;
        margin-right: 30px; }
        footer .lockup .content-wrap a:hover {
          color: rgba(0, 0, 0, 0.7); }

h3 {
  color: #e1c184;
  text-align: center;
  padding: 100px 0 30px; }

.face-lockup {
  max-width: 780px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute; }
  .face-lockup .face-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    box-ordinal-group: 3;
    -webkit-order: 3;
    -moz-order: 3;
    order: 3;
    -ms-flex-order: 3; }
  .face-lockup [class^="icon-"] {
    height: 100px;
    width: 100px;
    background: #e5eaee;
    border-radius: 50%; }
    .face-lockup [class^="icon-"] svg {
      max-width: 100px; }
    .face-lockup [class^="icon-"] path {
      fill: #c99065; }
    .face-lockup [class^="icon-"].icon-pencil {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      box-ordinal-group: 1;
      -webkit-order: 1;
      -moz-order: 1;
      order: 1;
      -ms-flex-order: 1; }
    .face-lockup [class^="icon-"].icon-mouse {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2;
      -webkit-order: 2;
      -moz-order: 2;
      order: 2;
      -ms-flex-order: 2; }
    .face-lockup [class^="icon-"].icon-browser {
      -webkit-box-ordinal-group: 4;
      -moz-box-ordinal-group: 4;
      box-ordinal-group: 4;
      -webkit-order: 4;
      -moz-order: 4;
      order: 4;
      -ms-flex-order: 4; }
    .face-lockup [class^="icon-"].icon-video {
      -webkit-box-ordinal-group: 5;
      -moz-box-ordinal-group: 5;
      box-ordinal-group: 5;
      -webkit-order: 5;
      -moz-order: 5;
      order: 5;
      -ms-flex-order: 5; }

@media screen and (max-width: 800px) {
  .face-lockup {
    display: block;
    text-align: center; }
    .face-lockup div {
      display: inline-block; }
    .face-lockup .face-img {
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      margin: 0 auto 30px; }
    .face-lockup [class^="icon-"] {
      margin: 10px 9%; } }
.blurb {
  max-width: 620px;
  padding: 0 20px;
  margin: 50px auto;
  font-size: 24px;
  text-align: center;
  font-weight: 300; }

.skill-lockup {
  max-width: 540px;
  margin: 100px auto;
  color: #999999; }
  .skill-lockup::after {
    clear: both;
    content: "";
    display: table; }
  .skill-lockup .skill-unit {
    width: 270px;
    float: left; }
  .skill-lockup .skill-icons {
    font-size: 0;
    margin: 3px 0 30px; }
    .skill-lockup .skill-icons span {
      display: inline-block;
      height: 14px;
      width: 14px;
      background-color: #c99065;
      margin-right: 8px;
      border-radius: 50%; }
      .skill-lockup .skill-icons span:after {
        content: "";
        display: block;
        height: 10px;
        width: 10px;
        background: #ffffff;
        border-radius: 50%;
        margin: 2px; }

@media screen and (max-width: 760px) {
  .skill-lockup {
    width: 220px; }
    .skill-lockup .skill-unit {
      width: 220px; } }
.skill-lockup .skill-icons.skill-1 span:nth-child(n+2), .skill-lockup .skill-icons.skill-2 span:nth-child(n+3), .skill-lockup .skill-icons.skill-3 span:nth-child(n+4), .skill-lockup .skill-icons.skill-4 span:nth-child(n+5), .skill-lockup .skill-icons.skill-5 span:nth-child(n+6), .skill-lockup .skill-icons.skill-6 span:nth-child(n+7), .skill-lockup .skill-icons.skill-7 span:nth-child(n+8), .skill-lockup .skill-icons.skill-8 span:nth-child(n+9), .skill-lockup .skill-icons.skill-9 span:nth-child(n+10), .skill-lockup .skill-icons.skill-10 span:nth-child(n+11) {
  background: #e5eaee; }

.alt-section {
  background: #e5eaee;
  padding-bottom: 100px; }

.section-work {
  overflow-x: hidden; }

.work-belt {
  width: 200%;
  position: relative;
  left: 0%;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s; }
  .work-belt .thumb-wrap, .work-belt .work-wrap {
    width: 50%;
    float: left; }

.thumb-container {
  max-width: 960px;
  margin: 0 auto; }
  .thumb-container::after {
    clear: both;
    content: "";
    display: table; }
  .thumb-container .thumb-unit {
    display: block;
    width: 25%;
    float: left;
    position: relative;
    padding-top: 18%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-perspective: 300;
    -moz-perspective: 300;
    perspective: 300;
    cursor: pointer; }
    @media screen and (max-width: 760px) {
      .thumb-container .thumb-unit {
        width: 50%;
        padding-top: 26%; } }
    .thumb-container .thumb-unit .thumb-overlay {
      position: absolute;
      top: -50%;
      right: 0px;
      left: 0px;
      height: 100%;
      background: rgba(201, 144, 101, 0.9);
      text-align: center;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      transition: 0.5s;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: distribute;
      -moz-box-pack: distribute;
      box-pack: distribute;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: distribute;
      -webkit-transform: rotateX(90deg);
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      -o-transform: rotateX(90deg);
      transform: rotateX(90deg);
      -webkit-transform-origin: center bottom;
      -moz-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
      -o-transform-origin: center bottom;
      transform-origin: center bottom;
      opacity: 0; }
      .thumb-container .thumb-unit .thumb-overlay strong {
        display: block;
        padding: 0 20px;
        color: white;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 1.2; }
    .thumb-container .thumb-unit:hover .thumb-overlay {
      position: absolute;
      top: 0%;
      right: 0px;
      left: 0px;
      -webkit-transform: rotateX(0deg);
      -moz-transform: rotateX(0deg);
      -ms-transform: rotateX(0deg);
      -o-transform: rotateX(0deg);
      transform: rotateX(0deg);
      opacity: 1; }
    .thumb-container .thumb-unit .zoom-icon {
      fill: white; }

.work-container {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  display: none; }
  .work-container h4 {
    color: #c99065;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.2;
    margin: 0 0 20px; }
  .work-container img {
    max-width: 100%;
    margin-bottom: 20px; }
  .work-container .work-return {
    height: 40px;
    width: 40px;
    cursor: pointer;
    opacity: 0.5;
    position: absolute;
    top: -4px;
    left: -60px; }
    .work-container .work-return svg {
      height: 40px;
      width: 40px; }
    .work-container .work-return path {
      fill: rgba(0, 0, 0, 0.4); }
    .work-container .work-return:hover {
      opacity: 1; }

@media (max-width: 740px) {
  .work-container .work-return {
    left: 0; }
  .work-container h4 {
    margin-left: 60px; } }
.section-contact {
  text-align: center; }

a svg {
  fill: white;
  vertical-align: middle;
  height: 25px;
  width: 25px; }

.social-links {
  max-width: 700px;
  margin: 0 auto 50px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .social-links a {
    display: block;
    background: #c99065;
    border: 2px solid #c99065;
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: #c99065;
    border-radius: 50%;
    font-size: 28px;
    margin: 20px;
    position: relative; }
    .social-links a:after {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      border: 2px solid #c99065;
      border-radius: 50%;
      margin: -2px;
      opacity: 1;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s; }
    .social-links a:hover:after {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0; }

.bar {
  width: 250px;
  height: 0;
  border-top: 4px solid #c99065;
  margin: 0 auto 50px; }

.biglink {
  display: inline-block;
  font-size: 72px;
  font-weight: 300;
  line-height: 1;
  width: 90%;
  margin: 0 auto;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }

form {
  max-width: 450px;
  margin: 0 auto 100px;
  padding: 0 20px; }
  form fieldset {
    border: none;
    padding: 0; }
  form input, form textarea {
    border: 3px solid #c99065;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px; }
    form input:focus, form textarea:focus {
      outline: none;
      border-color: #e1c184; }
  form textarea {
    height: 10em;
    resize: none; }
  form .submit-wrap {
    text-align: right; }
  form [type="submit"] {
    background: #c99065;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    width: 33%; }
    form [type="submit"]:hover {
      background: #e1c184; }
  form .contact-info-group label {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    form .contact-info-group label:nth-child(1) {
      padding-right: 10px; }
    form .contact-info-group label:nth-child(2) {
      padding-left: 10px; }
  form label {
    display: block;
    margin-bottom: 20px; }
    form label span {
      display: block; }

@media (max-width: 541px) {
  form .contact-info-group label {
    width: 100%; }
    form .contact-info-group label:nth-child(1) {
      padding: 0; }
    form .contact-info-group label:nth-child(2) {
      padding: 0; }
  form [type="submit"] {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
